# YOLO için temel kütüphaneler
ultralytics>=8.0.0
torch>=1.9.0
torchvision
opencv-python   

# Görüntü işleme
Pillow
numpy
matplotlib
PyYAML

# Model eğitimi & grafikler
tqdm
scipy
seaborn

# Streamlit için
streamlit